.DS_Store
__pycache__
# **render_output/
# **.tar.xz
# **outputs/
# **.zip
# **BlenderNeRF/
# **slurm_outs/
# **slurm_scripts/
# /assets/
# tmp.out
# **results
# .vscode
# # output
# *.ply
# *.pyc
# *.png
# *.jpg
# log
# **output
# **.so
# checkpoints_*/
# checkpoints_continuous_mse/
# checkpoints_discrete/
# **wandb
# **.glb
# **cache**
# **.npy
# **cache**
# **.npy**
# **trainedweights
# **nerfbaselines
# **garfield**
# **umi-on-legs**
.env
**egg-info**
# *.pkl
# *.log
# *.cursor
# # datasets/
# *.pth
backup_data

real_scene_data/
real_scene_models/
outputs/